body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	font-size: 1em;
	margin: 0 auto;

}


.container {
	width: 100%;
}
.container {
	text-align: center;

	
}


.navbar ul {
	color: white;
	
	
}

.navbar ul,
.contact li {
	list-style-type: none;
}


.contact {
text-align: center;
margin:0;
padding: 0;
}
.contact li {
	display: inline-block;
	padding: 10px 15px;
	

}
.github_logo,
.email_logo,
.music_logo {
	height: 30px;
	width: 30px;
}

.navbar-brand {
	font-size: 1.5em;
}

.navbar-brand,
.jumbotron h1 {
	font-family: 'Roboto',sans-serif ; 	
	font-weight: 700;
	letter-spacing: 3px;
}


.jumbotron {
width: 100%;

}

.jumbotron h1 {
	font-size: 4em; 
}
.nav > a > li {
	display: inline-block;
}

.jumbotron .h1, .jumbotron h1,
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
	text-transform: uppercase;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus, 
 navbar-inverse .navbar-nav>.active>a:hover {
	color: #f8e379;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #f8e379; /* pale yellow*/
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color:#f8e379;
}
.navbar-inverse .navbar-toggle{
	border-color: #f8e379;
	border-width: 2px;
}

.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover {
	background-color: #f99991;
}
.navbar-inverse {
	
	border-color: transparent;/*#f88379;*/
	background: #f88379; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #faa69e ,  #f88379); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #faa69e,  #f88379); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.nav > a > li:hover {
}

.nav > a > li {
	padding: 10px 15px;
	
}



/*     JUMBOTRON     */

.jumbotron {
 /*coralish*/
	color: #fff;

	background: #f88379; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #faa69e ,  #f88379); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #faa69e,  #f88379); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


#projects .col {
	padding-bottom: 7%;
}

/*    ONLINE LEARNING SECTION     */






/* Sticky footer styles from getbootstrap.com (http://getbootstrap.com/examples/sticky-footer/)
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container {
	width: 90%;
}

.jumbotron {
	margin : 0 auto;
}





@media (max-width: 767px) {
	.nav > a {
		padding: 8px 15px;
	}
	.nav > a > li{
 	position: relative;
 	display: inline;
  	padding:12px;
	}
	.nav > a > li:hover {
	border-bottom-color: #f8e379;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	}

	.navbar-inverse {
	/*background-color: #f88379;*/
	border-color: transparent;
}



.container {
	margin: 0 auto;
}

.jumbotron {
	margin-top: 25px;

}

#online-learning {
	border-left: transparent;
	border-right: transparent;
}

#design-concepts {
	border-top: transparent;
}

	.email_logo,
	.github_logo,
	.music_logo {
   	 position: relative;
     -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
	}
		@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
		@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
	@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); 
	} }
	
}

/* The animation code */
.nav > a > li:hover,
.github_logo:hover,
.music_logo:hover {
    position: relative;
 
 
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

