body {
	color: #fff;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	}

/* NAVIGATION STYLES */	

.nav {
margin: 0;
padding: 0;

}

.nav ul li:first-child {
	float: left;
}

.nav ul li {
	float: right;

}
.nav li {
	list-style-type: none;
	display: inline-block;
}

.nav ul {
	background-color: #f88379;

	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 10px 0;
}

#nav_name {
	text-transform: uppercase;
	letter-spacing: 3px;
}
.contact {
	padding-right: 30px;
	color: #f8e379;
}

h1 {
	margin: 0;
}

h4 {
	margin: 0;
}

/* HEADER STYLES */

header {
	background-color: #f88379;
	margin:0 auto;
	padding: 10% 0;
}




/* a {
	text-decoration: none;
	color: deepskyblue;
} */

#title_name {
	font-size: 4em;
	padding-bottom: 0;
	letter-spacing: 6px;
	text-transform: uppercase;
	}

#title_name,
#tagline,
.container {
	text-align: center;
}



.container {
	margin: 0 auto;
	padding: 0;
	width: 90%;
	color: black;
	te
}
.projects_container {
	color: black;
}

.projects_container ul {
	list-style-type: none;
	text-align: center;
}

.projects_container li {
	display: inline-block;
	width: 175px;
	height: 200px;
	vertical-align: top;
	text-align: center;
	padding: 0 5%;

}

.project_image {
	width: 150px;
	height: 150px;
	background-color: #f8c379;
	margin: 5% auto;
}

.contacts_container p {
	margin: 0;
	width: 80px;
	text-align: center;
}

.gh_logo,
.email_logo {
	height: 30px;
	width: 30px;
}

a:link {
	text-decoration: none;
	color: #000;
}

a:visited {
	color: #b5b5b5 ;
}

.nav a:visited,
header a:visited {
	color: #FFF;
}

#daveicon {
	font-size: 9px;
}